</div>
</div>
<footer>
  <div class="container">
    {{#if isStaff }}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/dropboxes">Staff Login</a>
    {{/if }}
  </div>
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5W3N5N7" height="0" width="0"
      style={{ display: 'none', visibility: 'hidden' }}></iframe>
  </noscript>
</footer>
</body>

</html>