<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hackney Document Uploads</title>
  <meta name="description" content="Hackney Document Uploads">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  {{> logo }}
  <div class="container">