<!doctype html>
<html lang="en">

<head>
  <title>Hackney Document Uploads</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Hackney Document Uploads">
  <link rel="stylesheet" href="{{ pathPrefix }}/css/styles.css" />
  <link rel="stylesheet" href="{{ pathPrefix }}/css/bootstrap.min.css" />
</head>

<body>
  {{> logo }}
  <div class="container">
    <div class="col">
      <h1>Hackney Document Upload</h1>