html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 1.1em;
}

header {
  width: 100%;
  padding: 15px 0;
  background-color: black;
}

header svg {
  width: 100%;
  color: white;
}

.container {
  padding: 25px;
}

section {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  margin-bottom: 40px;
  padding: 0 15px;
}

.form-row {
  padding: 10px 0;
}

.form-row label {
  display: block;
}

.form-row input,
textarea {
  background-color: white;
  display: block;
  width: 100%;
  padding: 2px 0;
  margin: 2px 0;
  border: 1px solid grey;
  font-family: sans-serif;
  font-size: 1.2em;
}

.form-row input[type='file'] {
  vertical-align: middle;
}

.form-row textarea {
  height: 100px;
}

.form-row button {
  width: 40%;
  font-size: 1.1em;
}

p {
  line-height: 1.5em;
}

ol li {
  margin: 6px 0;
}

ol li form {
  display: inline;
}
