html,
body {
  font-size: 1.05em !important;
}

header {
  width: 100%;
  padding: 25px 0 20px 0;
  background-color: #00513f;
}

header svg {
  width: 100%;
  color: white;
}

footer {
  margin-top: 20px;
  padding: 30px;
  background-color: #00513f;
  text-align: center;
}

footer a,
footer a:hover {
  color: #fff;
  text-decoration: underline;
}

section {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  padding: 0 15px;
}

.btn-primary {
  background-color: #00513f !important;
}

#uploads {
  list-style: none;
  padding: 0;
}

#uploads li {
  margin: 3px 0;
}

#uploads li form {
  display: inline;
}

.banner {
  text-align: center;
  background-color: #fcf8e3;
  padding: 10px 0;
  font-size: 0.9em;
}

.banner-tag {
  margin: 0 5px;
  display: inline-block;
  color: #fff;
  background-color: #1d70b8;
  padding: 2px 10px;
  letter-spacing: 0.1em;
}

.top-border {
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}

#identifiable-fields-warning {
  color: red;
  font-weight: bold;
}

.visually-hidden {
  display: none;
}
