html,
body {
  font-size: 1.05em !important;
}

header {
  width: 100%;
  padding: 25px 0 20px 0;
  background-color: #00513f;
}

header svg {
  width: 100%;
  color: white;
}

footer {
  padding: 30px;
  background-color: #00513f;
  text-align: center;
}

footer a,
footer a:hover {
  color: #fff;
  text-decoration: underline;
}

section {
  background-color: #f8f8f8;
  border: 1px solid #f1f1f1;
  margin-bottom: 30px;
  padding: 0 15px;
}

.btn-primary {
  background-color: #00513f !important;
}

#uploads li form {
  display: inline;
}
