{{> header }}
<a href="{{ pathPrefix }}/dropboxes/">
  << Back to all dropboxes</a>
    <h3>Dropboxes</h3>
    <ul>
      {{#each dropboxes}}
        <li><a href="{{ ../pathPrefix }}/dropboxes/{{this.dropboxId}}/view">{{this.customerName}}</a></li>
      {{/each}}
    </ul>
    {{> footer }}