{{> header }}

<p>Welcome to Hackney Document Upload.</p>
<p>Your secure way to send your documents to Hackney Council.</p>

<form action="" method="POST" encType="multipart/form-data">
  <div>
    <label for="customerName">Your Name:</label>
    <input type="text" name="customerName">
    <textarea name="description"></textarea>
  </div>
  <div>
    <input type="file" name="newUploadFile">
    <label for="customerName">File Name:</label>
    <input type ="text" name="newUploadTitle">
    <input type="submit" value="Upload file">
  </div>
</form>

{{> footer }}